body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
.main{
    height: 65;
    width: 35;
    display: flex;
    background-color: rgb(9, 10, 10);
}

.left{
    width: 350px;
    height: 800px;
    background-color: black;
    padding: 0%;
}

.right{
    width: 1300px;
    height: 200px;
}

.logo{
    padding: 10px;
}

.home{
    color: aliceblue;
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: 700;
    background-color: rgb(50, 47, 47);
    width: 190px;
    margin-left: 10px;
    height: 40px;
    line-height: 5px;
}

.search{
    color: aliceblue;
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: 700;
    width: 189px;
    margin-left: 10px;
    height: 40px;
    line-height: 5px;
}

.library{
    color: aliceblue;
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: 700;
    width: 189px;
    margin-left: 10px;
    height: 40px;
    line-height: 5px;
}

.playlist{
    color: aliceblue;
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: 700;
    width: 189px;
    margin-left: 10px;
    height: 40px;
    line-height: 5px;
}
.like{
    color: aliceblue;
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: 700;
    width: 189px;
    margin-left: 10px;
    height: 40px;
    line-height: 5px;
}
.pop{
    width: 1200px;   
    height: 300px;
    display: flex;
    background-color: #78918B;
    color: aliceblue;
    align-items: center;
}

p{
    display: inline;
    align-items: center;
}

h1{
    font-weight: 700;
    width: 607px;
}

.pop-txt{
    margin-top: 100px;
    align-items: center;
}

.bt{
    background-color: #242B2A;
    align-items: center;
    padding: 20px;
    display: flex;
    height: 30px;
}

.song-list{
    color: aliceblue;
    align-items: center;
    padding: 10px;
    width: 870px;
}

.song{
    display: flex;
    gap: 5px;
    font-size: 10px;
    margin-left: 0px;
    justify-content: space-between;
    width: 1500px;
}

.al{
    font-size: 10px;
    margin-left: 100px;
    justify-content: space-between;
}

.date{
    margin-left: 150px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time{
    justify-content: end;
    display: flex;
    text-align: center;
    font-size: 10px;
    padding-left: 200px;
    justify-content: space-between;
}

.footer{
    background-color: #242B2A;
    width: 1520px;
    height: 93px;
    bottom: 0%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

.hold{
    padding: 10px;
    gap: 2px;
    align-content: center;
    display: inline;
}

.hold-txt{
    color: aliceblue;
    display: inline-block;
    justify-content: center;
}

.play-btn{
    display: inline;
    color: aliceblue;
    justify-content: center;
}

.btn{
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: flex;
}

.line{
    color: aliceblue;
}

.menu{
    padding: 5px;
    justify-content: space-between;
}